<div class="header anim-from-top">
  <div class="header__background"></div>
  <div class="header__guild-info noselect">
    <div class="guild-emblem"><img ng-src="public/assets/banner2.png" draggable="false" /></div>
    <!--<div class="santa-hat"><img ng-src="public/assets/hat.png" draggable="false" /></div>-->
    <div class="guild-text">
      <div class="guild__name">Standard Procedure</div>
      <div title="Standard Procedure is an EU-Alliance guild operating in GMT+1, currently recruiting for World of Warcraft Classic." class="guild__server">
        Noggenfogger-EU
      </div>
    </div>
  </div>
  <div class="header__web-menu">
    <div class="header__menu-item"><md-button ng-click="$ctrl.openOrganizationModal()" class="md-flat">Organization</md-button></div>
    <div class="header__menu-item"><md-button ng-click="$ctrl.openLootModal()" class="md-flat">Loot</md-button></div>
    <div class="header__menu-item"><md-button ng-click="$ctrl.openRaidModal()" class="md-flat">Raids</md-button></div>
    <div class="header__menu-item"><md-button ng-click="$ctrl.openRosterModal()" class="md-flat">Roster</md-button></div>
    <div class="header__menu-item"><md-button ng-click="$ctrl.openAddonModal()" class="md-flat">Addons</md-button></div>
  </div>
  <div class="header__mobile-menu">
    <md-menu>
      <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
        <img ng-src="public/assets/interface/menu.png" />
      </md-button>
      <md-menu-content>
        <md-menu-item><md-button ng-click="$ctrl.openOrganizationModal()">Organization</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.openLootModal()">Loot</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.openRaidModal()">Raids</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="$ctrl.openRosterModal()">Roster</md-button></md-menu-item>
        <md-menu-item><md-button ng-disabled="true" href="" target="_blank">Apply</md-button></md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <div class="header__apply">
    <md-button ng-disabled="true" class="md-accent md-raised" href="" target="_blank">Apply</md-button>
  </div>
</div>
