.header {
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.header__background {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  filter: blur(5px);
}

.header:before,
.header:after {
  content: "";
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(50, 50, 50, 1) 50%, rgba(0, 0, 0, 0) 100%);
  display: block;
  position: absolute;
  bottom: 0;
}

.header__guild-info {
  z-index: 1;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  height: 100%;
}

.guild-emblem {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  width: 15%;
}

.guild-emblem img {
  height: 50%;
}

.guild-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.guild__name {
  color: rgba(255, 255, 255, 0.87);
  /* color: #FB8C00; */
  text-transform: uppercase;
  font-size: 2.4vh;
  font-weight: 900;
}

.guild__server {
  color: rgba(255, 255, 255, 0.26);
  font-weight: 600;
}

.header__web-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__web-menu .md-button[disabled] {
  color: rgba(255, 255, 255, 0.38);
}

.header__mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mobile-menu md-menu {
  height: 100%;
}

.header__mobile-menu md-menu .md-icon-button {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-item .md-button {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header__apply {
  z-index: 1;
  margin-right: 5vw;
  height: 48px;
  width: 128px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__apply a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__apply button {
  height: 100%;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .header {
    height: 12vh;
  }
  .header__server {
    font-size: 2vh;
  }
  .header__web-menu {
    display: none;
  }
  .header__apply {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .header {
    height: 10vh;
  }
  .header__server {
    font-size: 1.6vh;
  }
  .header__mobile-menu {
    display: none;
  }
}
