body {
  background-color: #101010;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

md-dialog {
  background-color: #101010;
  color: white;
}

md-menu-content {
  background-color: #101010;
  color: white;
}

md-menu-content md-menu-item .md-button[disabled] {
  color: rgba(255, 255, 255, 0.38);
}

md-menu-content md-menu-item .md-button {
  color: rgba(255, 255, 255, 1);
}

.modal-title {
  height: 10vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.modal-title__background {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 0;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.modal-title__background img {
  width: 100%;
}

.modal-title__text {
  z-index: 1;
  margin-left: 20px;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  font-size: 3vh;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
}

.modal-text {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.Warlock-text {
  color: #9482c9;
}

.Rogue-text {
  color: #fff569;
}

.Priest-text {
  color: #ffffff;
}

.Paladin-text {
  color: #f58cba;
}

.Druid-text {
  color: #ff7d0a;
}

.Hunter-text {
  color: #abd473;
}

.Mage-text {
  color: #69ccf0;
}

.Warrior-text {
  color: #c79c6e;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.nointeract {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

.md-accent {
  background-color: #fb8c00 !important;
}

.md-primary {
  background-color: #222222 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X */
  .modal-title {
    height: 100px;
  }
  .modal-title__background {
    height: 100px;
  }
  .modal-title__background img {
    height: 100px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  /* iPhone 8 */
  .modal-title {
    height: 100px;
  }
  .modal-title__background {
    height: 100px;
  }
  .modal-title__background img {
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .modal-title {
    height: 100px;
  }
  .modal-title__background {
    height: 100px;
  }
  .modal-title__background img {
    height: 100px;
  }
}
