body {
  background-color: #101010;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

.warlock {
  border-color: #9482c9;
}

.rogue {
  border-color: #fff569;
}

.priest {
  border-color: #ffffff;
}

.paladin {
  border-color: #f58cba;
}

.druid {
  border-color: #ff7d0a;
}

.hunter {
  border-color: #abd473;
}

.mage {
  border-color: #69ccf0;
}

.warrior {
  border-color: #c79c6e;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.md-accent {
  background-color: #fb8c00 !important;
}

.md-primary {
  background-color: #222222 !important;
}
