<div class="countdown-timer anim-fade-in anim-delay-long">
  <div class="timer__text">The adventure begins in</div>
  <div class="timer">
    <div class="timer__digit">
      <div id="days"></div>
      <div class="timer__digit__label">DAYS</div>
    </div>
    <div class="timer__digit">
      <div id="hours"></div>
      <div class="timer__digit__label">HOURS</div>
    </div>
    <div class="timer__digit">
      <div id="minutes"></div>
      <div class="timer__digit__label">MINUTES</div>
    </div>
    <div class="timer__digit">
      <div id="seconds"></div>
      <div class="timer__digit__label">SECONDS</div>
    </div>
  </div>
</div>
