<div class="hero-banner noselect">
  <md-button ng-click="$ctrl.openNewsModal($ctrl.newsItem)">
    <div class="hero-banner__text anim-fade-in anim-delay-short noselect">
      <div class="hero-banner__title">{{ $ctrl.newsItem.title }}</div>
      <div class="hero-banner__subtitle">{{ $ctrl.newsItem.summary }}</div>
      <div class="hero-banner__recruit">
        <div class="recruit-message">Now recruiting</div>
        <div class="summary__class Mage-text">
          <div class="summary__class-img"><img ng-src="/public/assets/classes/mage.png" draggable="false" /></div>
          2
          <md-tooltip md-direction="top">Mage</md-tooltip>
        </div>
        <div class="summary__class Paladin-text">
          <div class="summary__class-img"><img ng-src="/public/assets/classes/paladin.png" draggable="false" /></div>
          1
          <md-tooltip md-direction="top">Paladin</md-tooltip>
        </div>
        <div class="summary__class Rogue-text">
          <div class="summary__class-img"><img ng-src="/public/assets/classes/rogue.png" draggable="false" /></div>
          1
          <md-tooltip md-direction="top">Rogue</md-tooltip>
        </div>
      </div>
    </div>
    <div class="hero-banner__graphic anim-fade-in anim-delay-short">
      <img class="graphic__img anim-zoom-in" ng-src="public/assets/news/large/{{ $ctrl.newsItem.img }}" draggable="false" />
      <div class="graphic__overlay"></div>
    </div>
  </md-button>
  <div class="hero-banner__more anim-fade-in">
    <md-button class="md-fab md-accent" aria-label="FAB" ng-click="$ctrl.scrollToNews()">
      <md-icon md-svg-src="public/assets/interface/chevron-double-down.svg"></md-icon>
    </md-button>
  </div>
</div>
