<div class="hero-banner noselect">
  <div class="hero-banner__graphic nointeract">
    <img class="graphic__img" ng-src="public/assets/recruit.jpg" />
    <div class="graphic__overlay"></div>
  </div>

  <div class="hero-banner__text nointeract noselect">
    <div class="hero-banner__title"></div>
    <countdown-timer></countdown-timer>
  </div>

  <div class="hero-banner__more">
    <md-button class="md-fab md-accent" aria-label="FAB" ng-click="$ctrl.scrollToNews()">
      <md-icon md-svg-src="public/assets/interface/chevron-double-down.svg"></md-icon>
    </md-button>
  </div>
</div>
