<div class="hero-banner nointeract noselect">
  <div class="hero-banner__graphic">
    <img class="graphic__img" ng-src="public/assets/classic.jpg" />
    <div class="graphic__overlay"></div>
  </div>

  <div class="hero-banner__text noselect">
    <div class="hero-banner__title">Now recruiting for classic!</div>
    <countdown-timer></countdown-timer>
  </div>

  <div class="hero-banner__more">
    <md-button class="md-fab md-accent" aria-label="FAB" ng-click="$ctrl.scrollToNews()">
      <md-icon md-svg-src="public/assets/chevron-double-down.svg"></md-icon>
    </md-button>
  </div>
</div>
