.hero-banner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.hero-banner__recruit {
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-weight: normal;
}

.hero-banner__recruit .summary__class {
  background-color: transparent;
}

.recruit-message {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-radius: 10px;
}

.hero-banner__text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.56);
  text-align: center;
}

.hero-banner__title {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero-banner__more {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.hero-banner__more button {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: -28px;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .hero-banner {
    height: 40vh;
  }
  .graphic__img {
    height: 100%;
  }
  .hero-banner__text {
    font-size: 4vh;
    height: 38vh;
  }
  .hero-banner__title {
    line-height: 4vh;
  }
  .hero-banner__more {
    height: 10vh;
  }
  .hero-banner__recruit {
    margin-top: 30px;
    font-size: 1.6vh;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .hero-banner {
    height: 70vh;
    font-size: 8vh;
  }
  .graphic__img {
    width: 100%;
  }
  .hero-banner__text {
    font-size: 8vh;
    height: 100%;
  }
  .hero-banner__title {
    line-height: 8vh;
  }
  .hero-banner__recruit {
    position: absolute;
    bottom: 80px;
    font-size: 1.6vh;
  }
}

/* Graphic */
.hero-banner__graphic {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.graphic__img {
  opacity: 0.8;
  z-index: 0;
}

.graphic__overlay {
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  background: radial-gradient(circle at 50%, transparent 25%, #000 50%, #000 100%);
}
