<div class="addon-modal modal">
  <div class="modal-header noselect">
    <div class="modal-header__text">Addons</div>
    <div class="modal-header-web__background"><img ng-src="/public/assets/headers/large/races.jpg" draggable="false" /></div>
    <div class="modal-header-mobile__background"><img ng-src="/public/assets/headers/medium/races.jpg" draggable="false" /></div>
  </div>
  <div class="addon-modal-text">
    Standard Procedure uses a few addons in its raiding suite. While we don't have any formal requirements for which addons to use, we highly recommend the
    following addons:
    <ul>
      <li><a href="https://www.curseforge.com/wow/addons/deadly-boss-mods" target="_blank">Deadly Boss Mods</a> which enables raid event warnings etc.</li>
      <li><a href="https://www.curseforge.com/wow/addons/cepgp" target="_blank">CEPGP</a> which provides a GUI for our EPGP-system.</li>
      <li>
        <a href="https://www.curseforge.com/wow/addons/details" target="_blank">Details! Damage/Threat Meter</a> which gives you an overview of threat (among
        other things).
      </li>
      <li>
        <a href="https://www.curseforge.com/wow/addons/weakauras-2" target="_blank">WeakAuras 2</a> does a lot of things, but essentially allows the dispay of
        highly customizable graphics which indicate buffs, debuffs, and other relevant information.
      </li>
      <li>
        (Healers) <a href="https://www.curseforge.com/wow/addons/libhealcomm-4-0" target="_blank">LibHealComm-4.0</a> enables visualization of incoming heals
        (check supported AddOns).
      </li>
      <li>(Paladins) <a href="https://github.com/coryo/PallyPower" target="_blank">PallyPower</a> makes blessing management easy.</li>
    </ul>
  </div>
</div>
