<div class="loot-modal modal">
  <div class="modal-header noselect">
    <div class="modal-header__text">Loot</div>
    <div class="modal-header-web__background">
      <img ng-src="/public/assets/headers/large/loot.jpg" draggable="false" />
    </div>
    <div class="modal-header-mobile__background">
      <img ng-src="/public/assets/headers/medium/loot.jpg" draggable="false" />
    </div>
  </div>
  <div class="modal-text">
    <div id="the-basis" class="loot-section">
      <div class="modal-title">Loot System</div>
      <div>
        Standard Procedure uses a Loot Council consisting of 5 officers. When a piece of loot drops each member selects one of the following options in our loot
        addon (see the Addons section for a link):
        <ul>
          <li>Pass</li>
          <li>Non-raid (You press this if the item is one that you will not be using for raiding. PvP gear, shadow/retri gear for healers, etc.)</li>
          <li>
            Temp. upgrade/tier gear (This is for gear is an upgrade, but will be replaced by items in raids that are current out. E.g. Sorcerous Dagger or
            Gutgore Ripper. All Tier Gear goes in this category)
          </li>
          <li>
            BiS (This is for non-tier gear that is the BiS in slot for you in the currently available content. This is your Mageblades, your Bands of Accuria
            and your ToEPs)
          </li>
        </ul>
        When everyone has voted, the Loot Council decides who receives what loot based on the following primary factors:
        <ul>
          <li>Attendance</li>
          <li>Amount of loot already received</li>
          <li>Priority (Raiders have first prio)</li>
        </ul>
        New members are subject to a trial period spanning 4 raids, after which they may compete with regular raiders for gear.
      </div>
    </div>
  </div>
</div>
