<div class="loot-modal modal">
  <div class="modal-header noselect">
    <div class="modal-header__text">Loot</div>
    <div class="modal-header-web__background">
      <img ng-src="/public/assets/headers/large/loot.jpg" draggable="false" />
    </div>
    <div class="modal-header-mobile__background">
      <img ng-src="/public/assets/headers/medium/loot.jpg" draggable="false" />
    </div>
  </div>
  <div class="modal-text">
    <div class="toc">
      <ul class="toc-list">
        <li>
          <a href="#the-basis">1. The Basis</a>
        </li>
        <li>
          <a href="#effort-points">2. Effort Points (EP)</a>
        </li>
        <li>
          <a href="#gear-points">3. Gear Points (GP)</a>
        </li>
        <li>
          <a href="#priority">4. Priority</a>
        </li>
        <li>
          <a href="#exceptions__tanking">5. Tanking gear exceptions</a>
        </li>
        <li>
          <a href="#exceptions__special">6. Special items</a>
        </li>
        <li>
          <a href="#decay">7. Decay</a>
        </li>
        <li>
          <a href="#new-tiers">8. New tiers</a>
        </li>
        <li>
          <a href="#new-members">9. New members</a>
        </li>
        <li>
          <a href="#summary">10. Summary</a>
        </li>
      </ul>
    </div>

    <div id="the-basis" class="loot-section">
      <div class="modal-title">1. The Basis</div>
      <div>
        In order to minimize drama, and maximize success, the following criteria
        should be met by a loot system:
        <ul>
          <li>Fairness</li>
          <li>Reliability</li>
          <li>Simplicity</li>
          <li>Flexibility</li>
          <li>Transparency</li>
        </ul>
        What should also be considered is the fact that the system shouldn't be
        abusable by a single individual or group of people. With that in mind
        we've elected to use EPGP.
      </div>
    </div>

    <div id="epgp" class="loot-section">
      <div id="effort-points" class="loot-section">
        <div class="modal-title">2. Effort Points (EP)</div>
        <div>
          The way in which we will be tracking each individual members
          dedication, commitment and diligence is through Effort Points. If you
          show up for raids, come prepared and stay the course you will
          undoubtedly be awarded for it. The earning of EP is your way of making
          sure you will get loot, which in turn will make your character (and
          the guild) stronger. The Raid Manager is responsible for the handling
          of EP. EP will be awarded to members through these means:
          <ul>
            <li>
              Being inside the raid and ready for buffs at 18.30 grants 50 EP
            </li>
            <li>Killing a boss grants 50 EP</li>
            <li>Staying throughout the entire raid grants 50 EP</li>
            <li>
              Being on standby for the raid will grant you as much EP as those
              in the raid. You'll lose all the EP for that raid if you're called
              up to step in and are unavailable.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="gear-points" class="loot-section">
      <div class="modal-title">3. Gear Points (GP)</div>
      <div>
        The manner in which you track how "much" gear a single individual has
        gotten is through Gear Points. The amount of GP a specific item costs is
        determined by a number of factors, and this is to make sure different
        items cost different amounts depending on their worth. A 2-handed epic
        sword should definitively cost more than a rare ring, and an epic ring
        from a higher tier should cost more than an epic ring from a lower one.
        The Loot Manager is responsible for the handling of GP, as well as
        handing out loot. Formulas and costs are available through copying the
        settings from Zorn in the CEPGP addon.
      </div>
    </div>

    <div id="priority" class="loot-section">
      <div class="modal-title">4. Priority</div>
      <div>
        As stated above, Priority is calculated from EP/GP. When an item drops,
        interested eligible players will be ranked according to their Priority,
        with the highest ranking player receiving the item in question.
        Additionally, PvE main spec is prioritized over off-spec. To put it
        simply, main spec gear is any gear than you will use in the spec you use
        for raiding. Off-spec gear is gear that you want to use in PvP or for
        grinding or whatever else. An example of this would be all 2-handed
        physical DPS weapons. Since Arms spec is inferior for Alliance warriors,
        all 2-handed weapons will be considered off-spec. Furthermore, Raiders
        are prioritized over Trials and Socials. If no Raider wants the item it
        will go to an off-spec bid. If your rank is Trial or Social, then you
        will allowed to bid on every off-spec item on equal footing with every
        else. For Raider ranks, a flat 50% discount (rounding up) is given on
        all off-spec items, which is applied manually when you get the item.
        Raiders may not take items for off-spec if they are upgrades for their
        PvE main-spec.
      </div>
    </div>

    <div id="exceptions__tanking" class="loot-section">
      <div class="modal-title">5. Tanking gear exceptions</div>
      <div>
        As per usual tanks have a priority on all tanking items, and the main
        tank specifically. This makes sure that the people who have to be hit in
        the face and survive do just that; survive. But what happens when
        designated tanks have the loot they need? Then said items will be handed
        to other Warriors free of charge. Why? Well it is quite simple, without
        properly geared tanks we will not succeed. When we get far enough they
        will be required to step up as tanks (looking at you 4 Horsemen). It is
        unreasonable to expect that DPS warriors should have to spend their EP
        (which they should be spending on DPS gear) on gear which they may not
        want or have a need for right now, but that may help the guild in the
        long run. Thus, left-over pieces of tanking gear will be handed out for
        free.
      </div>
    </div>

    <div id="exceptions__special" class="loot-section">
      <div class="modal-title">6. Special items</div>
      <div class="loot-section__text">
        The last exception pertains to a specific set of items:
        <ul>
          <li>
            <a
              href="https://classic.wowhead.com/item=19019/thunderfury-blessed-blade-of-the-windseeker"
              >Thunderfury</a
            >
            will undoubtedly go to the main tank first and to other tanks
            thereafter. This is because of the insane threat-increase it
            provides for the tanks, which in turn makes life easier for everyone
            else.
          </li>
          <li>
            <a href="https://classic.wowhead.com/item=18423/head-of-onyxia"
              >Head of Onyxia</a
            >. Due to the nature of the rewards available, physical dpsers and
            tanks will be given priority on this item. Though, since it is a
            100% drop and we should be able to kill her 6 times a month, if a
            caster wants the ring, they should be able to get it in time.
          </li>
          <li>
            <a
              href="https://classic.wowhead.com/item=22589/atiesh-greatstaff-of-the-guardian"
              >Atiesh</a
            >
            (all versions). TBD.
          </li>
          <li>
            <a
              href="https://classic.wowhead.com/item=21176/black-qiraji-resonating-crystal"
              >Black Qiraji Resonating Crystal</a
            >. TBD.
          </li>
          <li>
            <a
              href="https://classic.wowhead.com/item=17182/sulfuras-hand-of-ragnaros"
              >Sulfuras, Hand of Ragnaros</a
            >. As it has very limited use in PvE, it is considered an off-spec
            item and will go to any interested eligible player who wishes to
            spend the resources required to build the hammer.
          </li>
        </ul>
      </div>
      <div class="modal-subtitle">MC Crafting materials</div>
      <div class="loot-section__text">
        The guild bank will keep a reserve of these materials on hand. Materials
        can be purchased by Raider rank members in order to craft a specific
        main spec item. Materials will be provided to Raiders on a first come
        first serve-basis provided that the member has procured all other
        necessary materials for the intended craft (i.e. no hoarding crafting
        materials if you can't use them to craft an item in a timely manner).
        We're estimating that we're able to provide materials for 1-3 crafts per
        week, depending on the requirements of crafted items. Materials are
        bought with gold at about 50% of the AH value (check the pinned message
        on Discord in the guild-bank section for pricing) on Sundays before the
        raid.
      </div>
    </div>

    <div id="decay" class="loot-section">
      <div class="modal-title">7. Decay</div>
      <div>
        Every wednesday, before the start of the raid, everyones' EP and GP
        values will be reduced by 25%. This is a featured called "Decay". Decay
        serves two purposes:
        <ul>
          <li>
            It prevented raiders with a long and good attendance from amassing
            so much EP that newer raiders simply cannot compete with them on
            priority at all, but putting an effective cealing on how much EP a
            person can have
          </li>
          <li>
            It encourages people to take smaller upgrades while waiting for a
            rarer item to drop
          </li>
        </ul>
      </div>
    </div>

    <div id="new-tiers" class="loot-section">
      <div class="modal-title">8. New tiers</div>
      <div>
        When Blackwing Lair comes out, a lot of raiders will be near the EP
        ceiling. This means a huge advantage for them on the first clears. To
        ameliorate this, we will be doing a one-time EP decay at the start of
        the phase that will be equal to the inverse of your attence in Molten
        Core and Onyxia. That means that if your overall attendance in Phase 1
        and 2 was 75%, your EP and GP will be decayed by 25%. If it was 40%,
        your EP and GP will be decayed by 60%. This is to further award the
        people with good attendance, without having anyone be too dominant once
        a new raid rolls out.
      </div>
    </div>

    <div id="new-members" class="loot-section">
      <div class="modal-title">9. New members</div>
      <div>
        New members are subject to a trial period spanning 4 raids, after which
        they may compete with regular raiders for gear.
      </div>
    </div>

    <div id="summary" class="loot-section">
      <div class="modal-title">10. Summary</div>
      <div>
        To bluntly summarize our implementation of EPGP:
        <ul>
          <li>Do good things, earn EP</li>
          <li>Get gear, "earn" GP equal to the cost of the item</li>
          <li>EP divided by GP equals your Priority</li>
          <li>
            When an item drops, an eligible member with the highest Priority
            gets the item
          </li>
          <li>Eligibility is determined though class, spec, and guild rank</li>
          <li>
            Both EP and GP decay (is reduced) by a fixed percentage at fixed
            intervals
          </li>
          <li>Some restrictions and exceptions apply for specific items</li>
        </ul>
        To cap it all off: thank you for taking on this wall of text. The whole
        point of it is to make everyone’s stay within the guild easier. Seeing
        as the biggest breaker of guilds, apart from poor management or lack of
        progress, is loot-related - this compendium should hopefully nip those
        issues in the bud. If you have any questions or other ideas feel free to
        raise them with any of the officers or administrators.
      </div>
    </div>
  </div>
</div>
