.toc {
  display: table;
  font-size: 95%;
  width: auto;
  margin-left: -40px;
}

.toc li,
.toc ul,
.toc ul li {
  list-style: outside none none !important;
}

.loot-section__subtitle {
  margin-top: 10px;
  font-size: 1.6vh;
  font-weight: 500;
  color: #9482c9;
}

.loot-section__text {
}
