.news-modal-header {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.news-modal-header__background {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.news-modal-text {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.news-title {
  font-size: 3vh;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  line-height: 3vh;
}

.news-date {
  font-size: 1.6vh;
  color: #666;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .news-modal-header {
    height: 170px;
  }
  .news-modal-header__background {
    height: 170px;
  }
  .news-modal-header__background img {
    height: 130%;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .news-modal-header {
    height: 40vh;
  }
  .news-modal-header__background img {
    width: 100%;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X */
  .news-modal-header {
    height: 170px;
  }
  .news-modal-header__background {
    height: 170px;
  }
  .news-modal-header__background img {
    height: 130%;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  /* iPhone 8 */
  .news-modal-header {
    height: 170px;
  }
  .news-modal-header__background {
    height: 170px;
  }
  .news-modal-header__background img {
    height: 130%;
  }
}
