<div class="organization-modal">
  <div class="modal-title">
    <div class="modal-title__text">Organization</div>
    <div class="modal-title__background"><img ng-src="/public/assets/races.jpg" /></div>
  </div>
  <div class="modal-text">
    Standard Procedure is a semi-casual guild, we want everyone to be able to have a good time in Azeroth together - conquering raids and other challenges along
    the way. We believe the following factors will be key to achieving our goal:
    <ul>
      <li>A well-organized guild</li>
      <li>Treating eachother with courtesy and respect</li>
    </ul>
    Our organization consists of the following administrative and operative roles.
  </div>
  <div class="role-list">
    <div class="role" ng-repeat="role in roles">
      <div class="role__title">
        <div class="role__img"><img ng-src="{{::role.img}}" /></div>
        {{ role.title }}
      </div>
      <div class="role__whois">{{ role.whois }}</div>
      <div class="role__description">{{ role.description }}</div>
    </div>
  </div>
</div>
