<div class="organization-modal modal">
  <div class="modal-header noselect">
    <div class="modal-header__text">Organization</div>
    <div class="modal-header-web__background"><img ng-src="/public/assets/headers/large/races.jpg" draggable="false" /></div>
    <div class="modal-header-mobile__background"><img ng-src="/public/assets/headers/medium/races.jpg" draggable="false" /></div>
  </div>
  <div class="modal-text">
    Standard Procedure is an international semi-casual guild on Noggenfogger-EU. We want everyone to have a good time in Azeroth together - conquering raids and
    other challenges along the way. Our goal is to clear all the PvE content the game has to offer, at our own pace. We believe that the one key factor in
    reaching our goals is <b>Respect.</b>
    <ul>
      <li>
        Treat guild members and other players with courtesy and respect and good things will follow. Remember that you're representing each and every individual
        in the guild when you're out in Azeroth. Don't make them look bad by association, make them look good!
      </li>
      <li>
        As we're mostly older and have less time on our hands at this point in our lives, being efficient while raiding becomes very important. We expect
        members to respect eachother by showing up on time and focusing during raids. Outside the instance ready to go at raid start!
      </li>
    </ul>
    Our organization consists of the following administrative and operative roles.

    <div class="role-list">
      <div class="role" ng-repeat="role in roles">
        <div class="role__title modal-title">
          <div class="role__img noselect"><img ng-src="public/assets/interface/{{::role.img}}" draggable="false" /></div>
          {{ role.title }}
        </div>
        <div class="role__description">{{ role.description }}</div>
      </div>
    </div>
  </div>
</div>
