<div class="raid-modal">
  <div class="modal-title">
    <div class="modal-title__text">Raids</div>
    <div class="modal-title__background"><img ng-src="/public/assets/dragon.jpg" /></div>
  </div>
  <div class="modal-text">
    Standard Procedure is a PvE-oriented guild, and raids represent the pinnacle of the Classic PvE experience. We raid because we think it's the most enjoyable
    part of the game, and we want to experience it all if possible. As we're mostly older and have less time on our hands at this point in our lives, being
    efficient while raiding becomes very important. We expect members to respect eachother by showing up on time, and focusing during raids. We raid 2 times per
    week, with 1 slot open for an extra raid if need be.
    <br />
    <br />
    <b>RAID TIMES</b>
    <ul>
      <li>Wednesdays 18.30-22.00</li>
      <li>Sundays 18.30-22.00</li>
      <li>Tuesdays (extra) 18.30-22.00</li>
    </ul>
    Raid times are in GMT+1.
  </div>
</div>
