.raid-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.raid-times {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.raid-times__title {
  font-weight: 500;
}

.raid-times__schedule {
}

@media only screen and (max-width: 600px) {
  /* Mobile */
}

@media only screen and (min-width: 601px) {
  /* Web */
}
