.raid-times {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.raid-times__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.raid-times__schedule {
}

.raid-progress {
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.raid-instance {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  justify-content: space-between;
}

.raid-instance__title {
  align-self: flex-end;
  margin-bottom: 10px;
  z-index: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.raid-instance-web__img {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.raid-instance-web__img img {
  width: 100%;
}

.raid-instance-mobile__img {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.raid-instance-mobile__img img {
  width: 200%;
}

.raid-bosses {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.raid-boss {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 120px;
  background-color: black;
}

.raid-boss__img {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.raid-boss__img img {
  width: 106%;
  height: 106%;
}

.raid-boss__name {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .raid-times__title {
    font-size: 3vh;
  }
  .raid-instance {
    border-radius: 10px;
  }
  .raid-instance-web__img {
    display: none;
  }
  .raid-instance__title {
    font-size: 2vh;
    margin-left: 10px;
    margin-right: 10px;
  }
  .raid-bosses {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
  }
  .raid-boss {
    height: 45px;
    width: 45px;
    margin: 2px;
  }
  .raid-boss__name {
    font-size: 1vh;
    line-height: 1vh;
    padding: 2px;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .raid-times__title {
    font-size: 2vh;
  }
  .raid-instance {
    border-radius: 20px;
  }
  .raid-instance-mobile__img {
    display: none;
  }
  .raid-instance__title {
    font-size: 3vh;
    margin-left: 20px;
    margin-right: 20px;
  }
  .raid-bosses {
    margin-right: 10px;
  }
  .raid-boss {
    height: 90px;
    width: 90px;
    margin: 10px;
  }
  .raid-boss__name {
    font-size: 1.6vh;
    line-height: 1.8vh;
    padding: 6px;
  }
}
