<div class="raid-modal">
  <div class="modal-title">
    <div class="modal-title__text">Raids</div>
    <div class="modal-title-web__background"><img ng-src="/public/assets/headers/large/dragon.jpg" /></div>
    <div class="modal-title-mobile__background"><img ng-src="/public/assets/headers/medium/dragon.jpg" /></div>
  </div>
  <div class="modal-text">
    Standard Procedure is a PvE-oriented guild, and raids represent the pinnacle of the Classic PvE experience. We raid because we think it's the most enjoyable
    part of the game, and we want to experience it all if possible. As we're mostly older and have less time on our hands at this point in our lives, being
    efficient while raiding becomes very important. We expect members to respect eachother by showing up on time, and focusing during raids. We raid 2 times per
    week, with 1 slot open for an extra raid if need be.
  </div>
  <div class="raid-times">
    <div class="raid-times__title">Raid times</div>
    <div class="raid-times__schedule">
      <ul>
        <li>Wednesdays 18.30-22.00</li>
        <li>Sundays 18.30-22.00</li>
        <li>Tuesdays (extra) 18.30-22.00</li>
      </ul>
    </div>
    Raid times are in GMT+1.
  </div>
  <div class="raid-progress">
    <div class="raid-times__title">Raid progress</div>
    <div class="raid-instance" ng-repeat="raid in raids">
      <div class="raid-instance-web__img">
        <img ng-src="/public/assets/raids/rectangular/{{::raid.img}}" />
      </div>
      <div class="raid-instance-mobile__img">
        <img ng-src="/public/assets/raids/small/{{::raid.img}}" />
      </div>
      <div class="raid-instance__title">
        {{ ::raid.title }}
      </div>
      <div class="raid-bosses">
        <div class="raid-boss" ng-repeat="boss in raid.bosses">
          <div class="raid-boss__img">
            <img ng-src="/public/assets/bosses/small/{{::boss.img}}" />
          </div>
          <div class="raid-boss__name">{{ ::boss.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
