<div class="raid-modal modal">
  <div class="modal-header noselect">
    <div class="modal-header__text">Raids</div>
    <div class="modal-header-web__background"><img ng-src="/public/assets/headers/large/group.jpg" draggable="false" /></div>
    <div class="modal-header-mobile__background"><img ng-src="/public/assets/headers/medium/group.jpg" draggable="false" /></div>
  </div>
  <div class="modal-text">
    Standard Procedure is a PvE-oriented guild, and raids represent the pinnacle of the Classic PvE experience. We raid 2 times per week, with 1 slot open for
    an extra raid if need be.<br /><br />
    Before, during and after our raids we expect members to meet the following requirements:
    <ul>
      <li>
        Sign up to raids (on Discord) 48 hours before raid start (at the latest). This gives our Raid Manager and Raid Leader time to decide on the raid group
        and inform you whether you’re accepted into the raid or not prior to raid start.
      </li>
      <li>
        Needless to say we expect members to bring their A-game during raids, and we hope that doing well during a raid is as satisfying to you as it is to us.
      </li>
      <li>Be ready for invites 15 minutes before raid start. This ensures smooth fulfilment of the point below.</li>
      <li>Be inside the instance and ready for buffs at raid start.</li>
    </ul>
  </div>
  <div class="raid-times">
    <div class="modal-title">Raid times</div>
    <div class="raid-times__schedule">
      <ul>
        <li>Wednesdays 18.30-22.00</li>
        <li>Sundays 18.30-22.00</li>
        <li>Tuesdays (extra) 18.30-22.00</li>
      </ul>
    </div>
    Raid times are in GMT+1.
  </div>
  <div class="raid-progress">
    <div class="modal-title">Raid progress</div>
    <div class="raids">
      <div class="raid-instance noselect" ng-repeat="raid in ::raids">
        <div class="raid-instance__title">
          {{::raid.title}} <span style="color:#666;margin-left:2px">{{::raid.killCount}}</span>
        </div>
        <div class="raid-instance-web__img">
          <img ng-src="/public/assets/raids/large/{{::raid.img}}" draggable="false" />
        </div>
        <div class="raid-instance-mobile__img">
          <img ng-src="/public/assets/raids/small/{{::raid.img}}" draggable="false" />
        </div>
        <div class="raid-bosses">
          <div class="raid-boss" ng-repeat="boss in ::raid.bosses" ng-class="{'faded-boss': boss.killed}">
            <div class="raid-boss__img">
              <img ng-src="/public/assets/bosses/small/{{::boss.img}}" draggable="false" />
            </div>
            <div class="raid-boss__name">{{ ::boss.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
