.raid-modal {
  padding-bottom: 0;
  position: relative;
}

.raid-times {
  padding-right: 20px;
  padding-left: 20px;
}

.raid-progress {
  padding-right: 20px;
  padding-left: 20px;
}

.raids {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
}

.raid-instance {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 6px;
}

.raid-instance img {
  height: 100%;
}

.raid-instance__title {
  font-size: 2vh;
  line-height: 2vh;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.raid-instance__subtitle {
  color: #666;
  font-size: 1.4vh;
}

.raid-bosses {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.raid-boss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.raid-boss__img {
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.raid-boss__img img {
  width: 106%;
  height: 106%;
}

.raid-boss__name {
  display: flex;
  align-items: center;
  z-index: 1;
  font-weight: 400;
  text-indent: 10px;
}

.raid-boss__subtitle {
  color: #666;
  text-indent: 10px;
  font-size: 1.4vh;
}

.raid-boss__status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.raid-boss__status img {
  height: 25%;
  width: 25%;
}

.faded-boss {
  opacity: 0.2;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .raid-instance {
    width: 100%;
  }
  .raid-bosses {
  }
  .raid-boss__img {
    height: 40px;
    width: 40px;
  }
  .raid-boss__name {
    font-size: 1.6vh;
  }
  .raid-boss__status {
    height: 40px;
    width: 40px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .raid-instance {
    width: 100%;
  }
  .raid-bosses {
  }
  .raid-boss__img {
    height: 60px;
    width: 60px;
  }
  .raid-boss__name {
    font-size: 2vh;
  }
  .raid-boss__status {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }
}
