<div class="roster-modal modal">
  <div class="modal-header noselect">
    <div class="modal-header__text">Roster</div>
    <div class="modal-header-web__background"><img ng-src="/public/assets/headers/large/dragon.jpg" draggable="false" /></div>
    <div class="modal-header-mobile__background"><img ng-src="/public/assets/headers/medium/dragon.jpg" draggable="false" /></div>
  </div>
  <div class="roster-summary noselect">
    <div class="summary__class">{{::raiderCount}} Raiders</div>
    <div class="summary__class druid-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/druid.png" draggable="false" /></div>
      {{::druidCount}}
      <md-tooltip md-direction="top">Druid</md-tooltip>
    </div>
    <div class="summary__class hunter-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/hunter.png" draggable="false" /></div>
      {{::hunterCount}}
      <md-tooltip md-direction="top">Hunter</md-tooltip>
    </div>
    <div class="summary__class mage-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/mage.png" draggable="false" /></div>
      {{::mageCount}}
      <md-tooltip md-direction="top">Mage</md-tooltip>
    </div>
    <div class="summary__class paladin-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/paladin.png" draggable="false" /></div>
      {{::paladinCount}}
      <md-tooltip md-direction="top">Paladin</md-tooltip>
    </div>
    <div class="summary__class priest-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/priest.png" draggable="false" /></div>
      {{::priestCount}}
      <md-tooltip md-direction="top">Priest</md-tooltip>
    </div>
    <div class="summary__class rogue-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/rogue.png" draggable="false" /></div>
      {{::rogueCount}}
      <md-tooltip md-direction="top">Rogue</md-tooltip>
    </div>
    <div class="summary__class warlock-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/warlock.png" draggable="false" /></div>
      {{::warlockCount}}
      <md-tooltip md-direction="top">Warlock</md-tooltip>
    </div>
    <div class="summary__class warrior-text">
      <div class="summary__class-img"><img ng-src="/public/assets/classes/warrior.png" draggable="false" /></div>
      {{::warriorCount}}
      <md-tooltip md-direction="top">Warrior</md-tooltip>
    </div>
  </div>
  <div class="roster-list">
    <div class="roster-member" ng-repeat="member in ::roster">
      <div class="member__row">
        <div class="member__column">
          <div class="member__class-icon noselect"><img ng-src="/public/assets/classes/{{::member.game.class}}.png" draggable="false" /></div>
        </div>
        <div class="member__column">
          <div class="member__name">{{ ::member.game.name }}</div>
          <div class="member__class">
            <div class="member__spec-icon noselect"><img ng-src="/public/assets/specs/{{ ::member.game.spec }}.png" draggable="false" /></div>
            <div class="member__class-text {{ ::member.game.class }}-text">{{ ::member.game.spec }} {{ ::member.game.class }}</div>
          </div>
          <div class="member__roles">{{ ::member.real.roles }}</div>
        </div>
      </div>
      <div class="member__column">
        <div class="member__rank-icon noselect ">
          <!--
          <img ng-src="/public/assets/ranks/{{::member.real.rank}}.png" draggable="false" />
					<md-tooltip md-direction="top">{{::member.real.rank | uppercase }}</md-tooltip>
					-->
        </div>
      </div>
    </div>
  </div>
</div>
