.roster-modal {
  font-family: "Titillium Web", sans-serif;
  padding-bottom: 0;
}

.roster-modal .modal-text {
  margin-bottom: 10px;
}

.roster-summary {
  display: flex;
  justify-content: center;
}

.summary__class {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: black;
}

.summary__class-img {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 120px;
}

.summary__class-img img {
  height: 100%;
  width: 100%;
}

.roster-list {
  display: flex;
  margin: 10px;
  position: relative;
}

.roster-member {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px;
}

.member__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.member__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member__class-icon {
  border: 10px solid black;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 60px;
}

.member__class-icon img {
  height: 100%;
}

.member__class {
  display: flex;
  align-items: center;
}

.member__spec-icon {
  height: 14px;
  width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 4px;
}

.member__spec-icon img {
  height: 100%;
}

.member__game-text {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.member__name {
  margin-top: 8px;
  margin-bottom: 1px;
}

.member__roles {
  color: #666;
  padding-right: 16px;
  margin-bottom: 8px;
}

.member__rank-icon {
  align-self: flex-end;
  opacity: 0.2;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.member__rank-icon img {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .roster-member {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .roster-list {
    flex-direction: column;
    align-items: center;
  }
  .member__name {
    font-size: 2.6vh;
    line-height: 3vh;
  }
  .member__class {
    font-size: 2vh;
  }
  .member__roles {
    font-size: 1.4vh;
    line-height: 1.8vh;
  }
  .roster-summary {
    flex-wrap: wrap;
    margin: 10px;
  }
  .summary__class {
    font-size: 1.6vh;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px;
  }
  .summary__class-img {
    height: 16px;
    width: 16px;
    margin-right: 6px;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .roster-member {
    padding: 10px;
    margin: 10px;
    flex: 1 0 calc(20% - 20px);
  }
  .roster-list {
    flex-wrap: wrap;
  }
  .member__name {
    font-size: 2.4vh;
    line-height: 2.4vh;
  }
  .member__class {
    font-size: 1.6vh;
  }
  .member__roles {
    font-size: 1.2vh;
    line-height: 1.4vh;
  }
  .roster-summary {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
  }
  .summary__class {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 4px;
  }
  .summary__class-img {
    margin-right: 10px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X */
  .roster-member {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .roster-list {
    flex-direction: column;
    align-items: center;
  }
  .member__name {
    font-size: 2.6vh;
    line-height: 3vh;
  }
  .member__class {
    font-size: 1.6vh;
  }
  .member__roles {
    font-size: 1.4vh;
    line-height: 1.6vh;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  /* iPhone 8 */
  .roster-member {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .roster-list {
    flex-direction: column;
    align-items: center;
  }
  .member__name {
    font-size: 2.6vh;
    line-height: 3vh;
  }
  .member__class {
    font-size: 2vh;
  }
  .member__roles {
    font-size: 1.4vh;
    line-height: 1.8vh;
  }
}
