.roster-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

.roster-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.roster-member {
  display: flex;
  background-color: black;
  margin: 10px;
  margin-left: 70px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  position: relative;
  padding-right: 16px;
}

.member__game-img {
  border: 10px solid black;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 200px;
  margin-left: -50px;
}

.member__game-img img {
  height: 100%;
}

.member-class {
  display: flex;
  align-items: center;
}

.member-class-icon {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 6px;
}

.member-class-icon img {
  height: 100%;
}

.member-class-text {
}

.member__game-text {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.member-name {
}

.member-class {
}

.member-roles {
  color: #666;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .roster-member {
    width: 230px;
  }
  .member-name {
    font-size: 3vh;
    line-height: 3vh;
  }
  .member-class {
    font-size: 2.2vh;
  }
  .member-roles {
    font-size: 1.6vh;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .roster-member {
    width: 18.5%;
  }
  .member-name {
    font-size: 2.4vh;
    line-height: 2.4vh;
  }
  .member-class {
    font-size: 1.6vh;
  }
  .member-roles {
    font-size: 1.2vh;
  }
}
