<div class="roster-modal">
  <div class="modal-title">
    <div class="modal-title__text">Roster</div>
    <div class="modal-title__background"><img ng-src="/public/assets/group.jpg" /></div>
  </div>
  <div class="roster-list">
    <div class="roster-member" ng-repeat="member in roster">
      <div class="member__game-img"><img ng-src="/public/assets/{{::member.game.img}}" /></div>
      <div class="member__game-text">
        <div class="member-name">{{ ::member.game.name }}</div>
        <div class="member-class">
          <div class="member-class-icon"><img ng-src="/public/assets/classes/{{ ::member.game.classIcon }}" /></div>
          <div class="member-class-text {{ ::member.game.class }}-text">{{ ::member.game.class }}</div>
        </div>
        <div class="member-roles">{{ ::member.real.roles }}</div>
      </div>
    </div>
  </div>
</div>
