<div class="hero-banner">
  <div class="hero-banner__graphic">
    <img class="graphic__img" ng-src="public/assets/classic.jpg" />
    <div class="graphic__overlay"></div>
  </div>

  <div class="hero-banner__header">
    <div class="header__background"></div>
    <div class="header__guild-info">
      <div class="header__name" noselect>Standard Procedure</div>
      <div class="header__server">Stormscale-EU</div>
    </div>
    <div class="header__web-menu">
      <div class="header__menu-item"><md-button ng-disabled="true" class="md-flat">Leadership</md-button></div>
      <div class="header__menu-item"><md-button ng-disabled="true" class="md-flat">Loot Rules</md-button></div>
      <div class="header__menu-item"><md-button ng-disabled="true" class="md-flat">Raids</md-button></div>
      <div class="header__menu-item"><md-button ng-disabled="true" class="md-flat">Roster</md-button></div>
      <div class="header__menu-item"><md-button ng-disabled="true" class="md-flat">AddOn Pack</md-button></div>
    </div>
    <div class="header__mobile-menu">
      <md-menu>
        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
          <img ng-src="public/assets/menu.png" />
        </md-button>
        <md-menu-content>
          <md-menu-item><md-button ng-disabled="true" ng-click="doSomething()">Leadership</md-button></md-menu-item>
          <md-menu-item><md-button ng-disabled="true" ng-click="doSomething()">Loot Rules</md-button></md-menu-item>
          <md-menu-item><md-button ng-disabled="true" ng-click="doSomething()">Raids</md-button></md-menu-item>
          <md-menu-item><md-button ng-disabled="true" ng-click="doSomething()">Roster</md-button></md-menu-item>
          <md-menu-item
            ><md-button href="https://docs.google.com/forms/d/e/1FAIpQLSfqn8qNK1cxgCPWJ7cuB092Kj_JDqVgDYpMMHR8Bjy825pW0w/viewform" target="_blank"
              >Apply</md-button
            ></md-menu-item
          >
        </md-menu-content>
      </md-menu>
    </div>
    <div class="header__apply">
      <md-button
        class="md-accent md-raised"
        href="https://docs.google.com/forms/d/e/1FAIpQLSfqn8qNK1cxgCPWJ7cuB092Kj_JDqVgDYpMMHR8Bjy825pW0w/viewform"
        target="_blank"
        >Apply</md-button
      >
    </div>
  </div>

  <div class="hero-banner__text noselect">
    <div class="hero-banner__title">Now recruiting for classic!</div>
    <div class="timer__text">The adventure begins in</div>
    <div id="timer"></div>
  </div>

  <div class="hero-banner__more">
    <md-button class="md-fab md-accent" aria-label="FAB">
      <md-icon md-svg-src="public/assets/chevron-double-down.svg"></md-icon>
    </md-button>
  </div>
</div>
