<div class="hero-banner">
  <div class="hero-banner__graphic">
    <img class="graphic__img" ng-src="public/assets/moltencore.jpg" />
    <div class="graphic__overlay"></div>
  </div>

  <div class="hero-banner__header">
    <div class="header__background"></div>
    <div class="header__guild-info">
      <div class="header__name" noselect>Sanctuary</div>
      <div class="header__server">Stormscale-EU</div>
    </div>
    <div class="header__apply">
      <md-button class="md-accent md-raised">Apply</md-button>
    </div>
  </div>

  <div class="hero-banner__text noselect">NOW RECRUITING FOR MC!</div>

  <div class="hero-banner__more">
    <md-button class="md-fab md-accent" aria-label="FAB">
      <md-icon md-svg-src="public/assets/chevron-double-down.svg"></md-icon>
    </md-button>
  </div>
</div>
