.news-item {
  background-color: #101010;
  color: #f1f2f4;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px !important;
  position: relative;
  display: flex;
  max-height: 14vh;
  letter-spacing: normal !important;
}

.news-item .md-button {
  height: 100% !important;
  width: 100% !important;
  border-radius: 2px !important;
  display: flex !important;
  flex-direction: row !important;
  line-height: normal !important;
  align-items: flex-start !important;
  text-align: left !important;
  justify-content: flex-start !important;
  margin: 0 !important;
  padding: 0 !important;
  max-height: 14vh !important;
  position: relative;
}

.news-item__image {
  display: flex;
  position: relative;
}

.news-item__image {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-item__image__scaler {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-item__image__scaler img {
  max-width: 500%;
  height: 100%;
  max-height: 14vh !important;
}

.news-item__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.text__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #fb8c00;
  white-space: pre-wrap;
}

.text__date {
  text-transform: uppercase;
  color: #666;
}

.text__summary {
  text-transform: none;
  white-space: normal !important;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .news-item {
    width: 94vw;
  }
  .news-item__image {
    min-width: 30%;
    width: 30%;
    max-width: 30%;
  }
  .text__title {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 3vw;
  }
  .text__date {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 2.6vw;
  }
  .text__summary {
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.6vw;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .news-item {
    width: 80vw;
  }
  .news-item__image {
    min-width: 20%;
    width: 20%;
    max-width: 20%;
  }
  .text__title {
    margin-left: 20px;
    font-size: 2vh;
    margin-top: 20px;
    margin-right: 20px;
  }
  .text__date {
    margin-top: 6px;
    margin-left: 20px;
    font-size: 1.4vh;
  }
  .text__summary {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    font-size: 1.8vh;
    margin-bottom: 20px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X */
  .news-item__img {
    height: 10vh;
  }
}
