<div class="news-item">
  <md-button ng-click="$ctrl.openNewsModal($ctrl.newsItem)">
    <div class="news-item__image">
      <div class="news-item__image__scaler">
        <img ng-src="{{::$ctrl.newsItem.img}}" />
      </div>
    </div>
    <div class="news-item__text">
      <div class="text__title">{{ ::$ctrl.newsItem.title }}</div>
      <div class="text__date">{{ ::$ctrl.newsItem.date }}</div>
      <div class="text__summary">{{ ::$ctrl.newsItem.summary }}</div>
    </div>
  </md-button>
</div>
