.news-feed {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .news-feed {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .news-feed {
    margin-top: 50px;
  }
}
