.news-feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.news-feed__filter {
  display: flex;
  width: 100%;
  color: #fb8c00;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.news-feed .md-button {
  margin-right: 0;
  margin-left: 0;
}

.news-feed__item {
  z-index: 3;
}

.news-feed__pagination {
  margin-top: 20px;
  display: flex;
  width: 100%;
  color: #fb8c00;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.pagination__indices {
  display: flex;
}

.pagination__indices .index {
  height: 1.2vh;
  width: 1.2vh;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 2vh;
  background-color: #202020;
}

.pagination__indices .index.selected {
  background-color: #fb8c00;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .news-feed {
    padding-top: 30px;
    width: 94%;
    margin-left: 3%;
  }
  .news-feed__filter {
    margin-bottom: -20px;
  }
  .news-feed__filter .md-button {
    font-size: 1.6vh !important;
    min-width: 36px;
  }
  .news-feed__filter .md-button.md-default-theme:not([disabled]):focus,
  .news-feed__filter .md-button:not([disabled]):focus {
    background-color: transparent !important;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .news-feed {
    padding-top: 50px;
    width: 50%;
    margin-left: 25%;
  }
  .news-feed__filter {
    margin-bottom: -20px;
  }
  .news-feed__filter .md-button {
    font-size: 1.2vh !important;
    min-width: 46px;
  }
}
