.news-item {
  background-color: #101010;
  color: #f1f2f4;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px !important;
  position: relative;
  letter-spacing: normal !important;
}

.news-item .md-button {
  height: 100% !important;
  width: 100% !important;
  border-radius: 2px !important;
  display: flex !important;
  flex-direction: row !important;
  line-height: normal !important;
  align-items: center !important;
  text-align: left !important;
  justify-content: flex-start !important;
  margin: 0 !important;
  padding: 0 !important;
}

.news-item__image {
  height: 11vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11vh;
}

.news-item__image img {
  height: 100%;
}

.news-item__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.text__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #fb8c00;
  white-space: pre-wrap;
}

.text__date {
  text-transform: none;
  color: #666;
}

.text__summary {
  text-transform: none;
  white-space: normal !important;
}

.text__tags {
  text-transform: none;
  display: flex;
}

.text__tags .tag {
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 60px;
  color: #666;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .news-item {
    width: 94vw;
  }
  .news-item__image {
    min-width: 11vh;
    width: 11vh;
    max-width: 11vh;
    margin-left: 10px;
  }
  .text__title {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 3vw;
  }
  .text__date {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 2.6vw;
  }
  .text__summary {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.6vw;
  }
  .text__tags {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .text__tags .tag {
    font-size: 1.2vh;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    opacity: 0.5;
    margin-right: 4px;
  }
}

@media only screen and (min-width: 601px) {
  /* Web */
  .news-item {
    width: 50vw;
  }
  .news-item__image {
    min-width: 11vh;
    width: 11vh;
    max-width: 11vh;
    margin-left: 20px;
  }
  .text__title {
    margin-left: 20px;
    font-size: 2vh;
    margin-top: 20px;
    margin-right: 20px;
  }
  .text__date {
    margin-top: 6px;
    margin-left: 20px;
    font-size: 1.4vh;
  }
  .text__summary {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    font-size: 1.8vh;
  }
  .text__tags {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .text__tags .tag {
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    opacity: 0.6;
    margin-right: 6px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X */
}
